<h1>Code Challenge Instructions</h1>
<p>Your task is to write a C# web app using Visual Studio that would help in playing word games. The application should include a UI that allows users to type in letters and then display the count and the list of English words that can be made from those letters by referencing the supplied word list. An installer program is not required, it is sufficient to be able to run from within Visual Studio.</p>
<p>Example:</p>
<p>User types in:</p>
<p><strong>THE</strong></p>
<p>Program displays:</p>
<p><strong>7</strong></p>
<br/>
<p><strong>ET</strong></p>
<p><strong>TE</strong></p>
<p><strong>EH</strong></p>
<p><strong>HE</strong></p>
<p><strong>HET</strong></p>
<p><strong>ETH</strong></p>
<p><strong>THE</strong></p>
<p>(order of words is not important).</p>
<p>Each letter may not be used more than the number of times it appears in the entered letters. For instance, if <strong>ID</strong> is entered the program should not find <strong>DID</strong>, but if <strong>DID</strong> is entered then <strong>DID</strong> is clearly permissible.</p>
